    .container {
      max-width: 1200px;
      margin: auto;
    }
.wrp_products {
display: flex;
  grid-gap: 20px;
  flex-wrap: wrap;
  margin-bottom: 3rem;
  padding: 15px;
}
.product {
position: relative;
  flex: 0 1 245px;
  padding: 1rem 1rem 0 1rem;
  box-shadow: 0 0 5px #ddd;
  transition: all .3s ease;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.product:hover{
  box-shadow: 0 0 12px grey;
}
.product .img {
  width: auto;
    max-height: 150px;
    display: block;
    margin: auto;
}
.product > a{
  position: absolute;
  left:0;
  top:0;
  width: 100%;
  height: 100%;
}
.product .shop {
  position: absolute;
  top: 0;
  left: 0;

  z-index: 1;
}
.product .shop a{
color:#fff;
  padding: 4px;
}
.wrp_product .prices {
  margin: 0;
}
.wrp_product .shop a {
  color: #fff;
  padding: 5px 1rem;
}
.wrp_img {
  display: flex;
  flex-direction: column;
}
.price span {
  font-size: 1.5rem;
  font-weight: 700;
}
.prices {
  background: #ddd;
  margin: 0 -15px;
  padding: 5px 15px;
}
.empty{
  padding: 5px 15px;
  margin: 0;
}
.caption {
  text-transform: uppercase;
  font-size: 1.5rem;
  font-weight: bold;
  letter-spacing: 0.2rem;
  text-decoration: underline;
}